
<h1 class="home_title">Edit article</h1>

<%= render 'form' %>
<div class="loging_out btn-5"><%= link_to('Logout', destroy_user_session_path) %></div>
<a href="http://localhost:3000/articles" class="bk btn-5">Back</a>
 