<h1 class="home_title">New Article</h1>

<%= render 'form' %>
 
<a href="http://localhost:3000/articles" class="bk">Back</a>
<div class="loging_out btn-5"><%= link_to('Logout', destroy_user_session_path) %></div>
