<h1 class="home_title">Article</h1>
<div class="article_text">
	<p>
	<strong class="title_list">Title:</strong>
	<%= @article.title %>
	</p>
 
	<p>
	  <strong class="title_list">Text:</strong>
	  <%= @article.text %>
	</p>
	<p>
		<strong class="title_list">Image:</strong>
		<%= image_tag @article.image_url.to_s if @article.image_url.present? %>
	
	</p>
</div>
<a href="http://localhost:3000/articles" class="bk btn-5">Back</a>
<div class="loging_out btn-5"><%= link_to('Logout', destroy_user_session_path) %></div>

