
<div>
  <i class="fa fa-weixin icon_right"></i>
  <i class="fa fa-weixin icon_left"></i>
  <h1 class="home_title">Bloggate</h1>
</div>

<p class="home_wall">|</p>
<i class="fa fa-user-circle log_in_icon"></i>
<i class="fa fa-user-plus sign_up_icon"></i>
<div class="log_in_home_link btn-5"><%= link_to('Login', new_user_session_path) %></div>
<div class="sign_up_home_link btn-5"><%= link_to('Sign Up', new_user_registration_path) %></div>

